<include href="views/header.html"></include>

<body class="container">

    <div class="form-container w-20 d-flex flex-column align-items-center justify-content-center">
        <h1>Order a Pet</h1>
        <form action="#" method="POST" class="d-flex flex-column align-items-center justify-content-center">
            <label for="type">What kind of pet would you like to order</label>
            <input type="text" id="type" name="type">
            <label for="color">Select a color</label>
            <select name="color" id="color">
                <option value="blue">blue</option>
                <option value="red">red</option>
                <option value="yellow">yellow</option>
            </select>
            <button class="btn btn-primary" type="submit">Place Order</button>
        </form>
    </div>

</body>